.imgdiv{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.price1{
    margin-top: 250px;
}
.coinid{
    margin-left: 80px;
}
h3{
    margin-left: -20px;
}

.rt3 th{
    background-color: orange;
    height: 40px;
}
.div1{
    margin-top: 30px;
}
.coinh1{
    display: flex;
    flex-direction: row;
    gap:40px;
}
.coinh1 p{
    margin-top: 20px;
}
.div3{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.cointable1{
    margin-left: 150px;
    margin-top: 50px;
}
.div2{
    margin-top: 50px;
    
}
.table1{
    width:900px;
    margin-left: 70px;
}
.info{
    width:800px;
    margin-top: 50px;

}
.option1{
    width:100px;
    margin-left: 150px;
    margin-top:30px;

}
.optionselect{
    width:300px;
    height: 40px;
    border:2px solid black;
}
.select1{
    background-color: none;
    border: 2px solid rgb(0, 255, 255);
    background: none;
    color:rgb(0, 255, 255);
    width:200px;
    height: 50px;
}
.select2{
    background-color:rgba(0, 0, 0, 0.84);
    color:rgb(0, 255, 255);
    border: 2px solid rgb(0, 255, 255);

}
.graph{
    margin-top: 100px;
    color:white;
}
td:hover{
background-color: transparent;
}